<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	
    <link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="assets/materialize/css/index/index.css">
	<link type="text/css" rel="stylesheet" href="assets/materialize/css/profile/profile.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" scr="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	
	<script src="./funciones.js"></script> 
	<script>
		function f(){
		    $('.collapsible').collapsible({
		      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
		    });
		};
	</script>
	
</head>
<body class="#f5f5f5 grey lighten-3">
	
	<nav>
		<div class="nav-wrapper #b3e5fc light-blue lighten-4">
			<img class="responsive-img brand-logo center" src="images/Proyecto2.png">
			<a id="link" href="#" class="brand-logo">
			  	<% if (user.local.email) { %>
					<%= user.local.name %>
				<% } %>
				<% if (user.google.token) { %>
					<%= user.google.name %>
				<% } %>
			</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/logout"><i class="material-icons right">system_update_alt</i>Cerrar sesion</a></li>
			</ul>
			<!-- Lo que se muestra en version movil -->
			<ul class="side-nav #b3e5fc light-blue lighten-4" id="mobile-demo">
				<a id="linkmovil" href="#">
				  	<% if (user.local.email) { %>
						<%= user.local.name %>
					<% } %>
					<% if (user.google.token) { %>
						<%= user.google.name %>
					<% } %>
				</a>
				<li><a href="/logout"><i class="material-icons right">system_update_alt</i>Cerrar sesion</a></li>
            </ul>
		</div>
	</nav>

	
	<div id="contenido" class="row">
		<div class="col s12 col m4">
			<div id="datos-personales" class="row">
				<div class="col s12">
					<div class="headerdatos row">
						<h4> Datos Personales </h4>
					</div>
					<div class="row">
						<% if (user.local.email) { %>
							<div class="cols 12">
							<p>
								<strong>Usuario </strong>: <%= user.local.username %><br>
								<strong>Nombre </strong>: <%= user.local.name %><br>
								<strong>Edad </strong>: <%= user.local.edad %><br>
								<strong>Email </strong>: <%= user.local.email %><br>
							</p>
							</div>
						<% } %>
						<% if (user.google.token) { %>
							<div class="col s12">
							<p>
								<strong>name</strong>: <%= user.google.name %><br>
								<strong>email</strong>: <%= user.google.email %><br>
							</p>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col s12 m8">
			<div id="divtabs" class="row">
				<div id="headertab" class="col s12 m8">
				  <ul class="tabs">
				    <li class="tab col s4"><a href="#anadir" class="active">Añadir</a></li>
				    <li class="tab col s4"><a href="#pendientes">Pendientes</a></li>
				    <li class="tab col s4"><a href="#terminadas">Terminadas</a></li>
				  </ul>
				</div>
				<div id="anadir" class="col s12">
					<div class="row">
						<div id="titleanadir" class="col s12">
							<h4>
								Añade tus tareas
							</h4>
						</div>
					    <form class="col s12" action="/anadir">
					    	<div class="row">
						        <div class="input-field col s6">
						        	<i class="material-icons prefix icon-blue">note_add</i>
						          	<input placeholder="" id="nombre" name="nombre" type="text" class="nombre validate">
						          	<label for="nombre">Tarea</label>
						        </div>
						        <div class="input-field col s6">
						        	<i class="material-icons prefix icon-blue">today</i>
						          	<input id="fecha" type="date" name="fecha" class="datepicker">
						        </div>
							</div>
					      	<div class="row">
						        <div class="input-field col s12">
						        	<i class="material-icons prefix icon-blue">mode_edit</i>
						          	<textarea id="informacion" name="informacion" class="materialize-textarea" placeholder="Escribe aqui la tarea a realizar"></textarea>
						          	<label for="informacion">Textarea</label>
						        </div>
					      	</div>
					      	<div class="row center-align">
						      	<button class="btn waves-effect waves-light center-align" type="submit" name="submit">Guardar
									<i class="material-icons right">send</i>
								</button>
					      	</div>
					    </form>
					  </div>
				</div>
				
				<div id="pendientes" class="col s12">
					<h4 style="text-align:center">
						Tareas pendientes
					</h4>
					<form class="tareas-pendientes col s12" action="/update">
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix icon-blue">note_add</i>
								<input placeholder="" id="nametarea" name="nametarea" type="text" class="nametarea validate">
								<label for="nametarea">Tarea</label>	
							</div>
							<div class="input-field col s6">
								<button class="btn waves-effect waves-light center-align" type="submit" id="button" name="button">Añadir a pendientes
									<i class="material-icons right">send</i>
								</button>
							</div>
						</div>
						
						<!-- Aqui se situaria el contenido dinamico -->
					</form>
				</div>
				
				<div id="terminadas" class="col s12">
					<h4 style="text-align:center">
						Tareas terminadas
					</h4>
					<form class="tareas-terminadas col s12" action="/eliminar">
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix icon-blue">note_add</i>
								<input placeholder="" id="nametarea1" name="nametarea1" type="text" class="nametarea1 validate">
								<label for="nametarea1">Tarea</label>	
							</div>
							<div class="input-field col s6">
								<button class="btn waves-effect waves-light center-align" type="submit" id="button1" name="button1">Eliminar
									<i class="material-icons right">send</i>
								</button>
							</div>
						</div>
						
						<!-- Aqui se situaria el contenido dinamico -->
					</form>	
				</div>
				
			</div>
		</div>

	</div>

</body>
</html>